[submodule "pack/plugins/start/vim-fugitive"]
	path = pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "pack/plugins/start/nerdtree"]
	path = pack/plugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "pack/plugins/start/vim-surround"]
	path = pack/plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "pack/plugins/start/syntastic"]
	path = pack/plugins/start/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule "pack/plugins/start/vim-gitgutter"]
	path = pack/plugins/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "pack/plugins/start/nerdcommenter"]
	path = pack/plugins/start/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule "pack/plugins/start/vim-airline"]
	path = pack/plugins/start/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "pack/plugins/start/vim-airline-themes"]
	path = pack/plugins/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "pack/plugins/start/dockerfile.vim"]
	path = pack/plugins/start/dockerfile.vim
	url = https://github.com/ekalinin/dockerfile.vim
[submodule "pack/plugins/start/gundo"]
	path = pack/plugins/start/gundo
	url = http://github.com/sjl/gundo.vim.git
[submodule "pack/plugins/start/vim-markdown"]
	path = pack/plugins/start/vim-markdown
	url = https://github.com/plasticboy/vim-markdown
[submodule "pack/plugins/start/vim-indent-guides"]
	path = pack/plugins/start/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides
[submodule "pack/plugins/start/base16-vim"]
	path = pack/plugins/start/base16-vim
	url = https://github.com/chriskempson/base16-vim.git
[submodule "pack/plugins/start/vim-latex"]
	path = pack/plugins/start/vim-latex
	url = https://github.com/vim-latex/vim-latex.git
[submodule "pack/plugins/start/vim-jsx"]
	path = pack/plugins/start/vim-jsx
	url = https://github.com/mxw/vim-jsx
[submodule "pack/plugins/start/vim-prettier"]
	path = pack/plugins/start/vim-prettier
	url = https://github.com/prettier/vim-prettier
[submodule "pack/plugins/start/vim-graphql"]
	path = pack/plugins/start/vim-graphql
	url = https://github.com/jparise/vim-graphql
[submodule "pack/plugins/start/rust.vim"]
	path = pack/plugins/start/rust.vim
	url = git@github.com:rust-lang/rust.vim.git
[submodule "pack/plugins/start/vim-cargo"]
	path = pack/plugins/start/vim-cargo
	url = git@github.com:timonv/vim-cargo.git
[submodule "pack/plugins/start/vim-toml"]
	path = pack/plugins/start/vim-toml
	url = https://github.com/cespare/vim-toml
